<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/sayan.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> I am a third year Electronics and Communication Engineering UG student at Amity University, advised by <a href="http://auup.amity.edu/faculty-detail.aspx?facultyID=9578">Prof. Partha Sarathi Mangipudi</a>. I also work closely with <a href="http://auup.amity.edu/faculty-detail.aspx?facultyID=11724">Prof. Anupama Bhan</a>. Simultaneously I am working as a Undergraduate Research Assistant in the Biomedical Image and Signal Processing Lab  at Indian Institute of Technology Delhi, advised by <a href="http://web.iitd.ac.in/~amehndiratta/">Prof. Amit Mehndiratta</a>. I work on the problems that lie at the intersection of Computer Vision, Machine Learning and Medical Image Processing. Specifically, I am interested in developing medical imaging algorithms that </p>
    
    <p class="content">
    <ul>
      <li>can <b><i>Segment and Register</i></b> based on different Magnetic Resonance(MR) image including applications in f-MRI algorithms which includes various registation and segmentations techniques that also find crucial applications in Neuro-Imaging as well.</li>
      <li>are <b><i>interpretable</i></b> so that accurate detection can  made by such algorithms can be beneficial to doctors</li>
      <li>are <b><i>transferable</i></b> so that they can be adapted across different domains with ease and limited supervision</li>
    </ul>
    </p>

    <!-- </p> -->
    <p class="content"> My research interests focus on Biomedical Imaging (MRI and FMRI), Image Processing, Image Segmentation and Registration, Neuro Imaging and Applications. I am also interested in the interpretability especially in medical aspect of Deep Learning models. </p>
    <p class="content"> In addition to this, I am also working closely with <a href="http://www.tamuk.edu/engineering/departments/eecs/faculty_staff/Goyal.html">Dr. Ayush Goyal</a> on problems relating to Segmentation Based problems and their tecture analysis. My interest in Biomedical Imaging initiated at the start of my  second year as an undergraduate. I had specifically worked on Macula(Optical) localization problems and grading of disease(DR) during my second year. </p>
    <p class="content">I also find Optical imaging to be fascinating. I’ve had the privilege to work with <a href="https://scholar.google.co.in/citations?user=UZYa1C0AAAAJ&hl=en">Dr. Malay Kishore Dutta</a> on Diabetic Retinopathy(DR) problems. </p> 

    <p class="content">I am very passionate about developing new approaches that can help in Segmentation. I love to break them down shot-by-shot the medical problems and analyze them. Each application is important.</p>
  
    <p class="content">Feel free to reach out to me at <a href="mailto:bhatta.sayantan90@gmail.com">bhatta.sayantan90@gmail.com</a></p>
    <!-- <span class="content">You can also reach me at: </span> -->

    <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/sayantan-bhattacharya-45b6b513b">
      <span class="fa fa-linkedin"></span> 
    </a>

  </div>
</div>

