<div class="row">
  <h2>Achievements</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Was among top Students of the class for achieving complete 10 CGPA( CGPA/ %) on Matriculation in 2013</li>
      <li class="newsElement">Was among top Students of the class for achieving complete 91.6% ( 100 / %) and highest marks in Physics & English after intermediate/+2 in 2015</li>
      <li class="newsElement">Awarded 50% scholarship while getting admission in 1st year of academic curriculum from Amity University in 2016.</li>
      <li class="newsElement">Awarded 50% scholarship while getting admission in 2nd year of academic curriculum from Amity University in 2017.</li>
      <li class="newsElement">Was Selected for a Summer Training at DRDO Lastec Lab(<a href="https://www.drdo.gov.in/drdo/English/index.jsp?pg=homebody.jsp">DRDO</a>) in 2017</li>
    </ul>
  </div>
</div>
