<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Technology in Electrical and Communication Engineering</h3>
      <h4 class="content_heading">Amity University, Noida, Uttar Pradesh, India</h4>
        <p class="content">GPA: <em> 3.88/4.0</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/amity.jpg" width="50%">
      <p>(August 2016 - May 2020)</p>
    </div>
  </div>

</div>
