<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Summer Intern, <a target="_blank" href="https://www.drdo.gov.in/drdo/labs1/LASTEC/English/indexnew.jsp?pg=homepage.jsp">LASTEC Lab, DRDO</a></h3>
          <p class="content">Improving and working towards the applications of laser diodes in military applications.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/drdo.jpg" width="120px">
        <p>(June 2018 - July 2018)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading"> Visiting Undergraduate Research Assistant(Phase I), <a target="_blank" href="http://web.iitd.ac.in/~amehndiratta/">Biomedical Image and Signal Processing Lab, IIT Delhi</a></h3>
          <p class="content">Worked on problems related towards automatic segmentation of the prostate gland which is responsible for Prostate Cancer(PCa)
with minimal human interaction.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/iit.png" width="120px">
        <p>(July 2018 - March 2019)</p>
        <br>
      </div>
    </div>
    
     <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading"> Visiting Undergraduate Research Assistant(Phase 2), <a target="_blank" href="http://web.iitd.ac.in/~amehndiratta/">Biomedical Image and Signal Processing Lab, IIT Delhi</a></h3>
          <p class="content">I had analysed and worked on problems related towards automatic segmentation of the zones of the prostate gland by "bayesian approach, and I had developed a robust mechanisms that gave us a dice co-efficient of 84.3, 81.1, and 81.4 on the complete gland, temporal zone, and peripheral zone respectively.  </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/iit.png" width="120px">
        <p>(December 2019 - April 2020)</p>
        <br>
      </div>
    </div> 
    
    
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading"> Summer Undergraduate Researcher <a target="_blank" href="https://profiles.ucr.edu/app/home/profile/xiaophu">Hu lab, University of California, Riverside, USA</a></h3>
          <p class="content">Here, during this time duration, I have worked on the segmentation of Substantia Nigra from the neuromelanin images. This research experience focused around the idea that the substantia nigra undergoes neuronal loss in Parkinson's disease and my target was to improve how substantia nigra is segmented in a computationally effective approach. So, my contribution to this research project went very well and I was able to achieve my task with a fair amount of accuracy.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/images.png" width="120px">
        <p>(May 2019 - July 2019)</p>
        <br>
      </div>
    </div>
    
    
    
   <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Undergraduate Research Assistant, <a target="_blank" href="http://www.amity.edu/aset/signal-processing-research-group.asp">Biomedical Imaging Lab, Amity University</a></h3>
          <p class="content">Implemented an efficient algorithm for automatic detection of Macula with the severity grading of Diabetic Retinopathic Patients under guidance of emeritus faculty Dr. MK Dutta. Another project which was implemented during tenure was detection of Malaria and detection of Osteoporosis with a good amount of accuracy. This Project was carried out with my collaboration Dr. Ayush Goyal of Texas A&M University, Kingsville.
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/amity.jpg" width="120px">
        <p>(May 2017 - March 2019)
      </div>
    
      <div class="row">
       <div class="col-sm-9">
        <h3 class="content_heading">Undergraduate Short Project</h3>
          <p class="content">Implemented an Deep Learning efficient algorithm for automatic segmentation of Optic Disk and Optic Cup under guidance of faculty Dr. Paratha Sarathi.
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/amity.jpg" width="120px">
        <p>(May 2017 - March 2019)
      </div>
    
    </div>
