  <div class="row">
    <h2>Publications(Will attach many more)</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://ieeexplore.ieee.org/document/8441504">Computer vision method for grading of the health of a fundus image on basis of the presence of red lesions,</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors"><b>Sayantan Bhattacharya</b><sup>*</sup>, Jai Sehgal, Malay K. Dutta, Ashish Issac, R. Burget, M. Kolarik. </span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
           <br>
            </p>
        </p>
      </div>

      <div class="col-sm-12">
        <h3 class="content_heading"><a href="http://ebooks.iospress.nl/volumearticle/50894">An Imaging Algorithm for Rotation Invariant Automated Macula localization Digital Fundus Images</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors"><b>Sayantan Bhattacharya</b><sup>*</sup>,  Jai Sehgal, Malay Kishore Dutta, Namita Sengar, Carlos M.</span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
                <br>
            </p>
        </p>
    
    <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://ieeexplore.ieee.org/document/8711593">Image-Based Detection of Point of Insertion for Pedicle Screw Implants</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Chandan Rao Ramesh, Ayush Goyal, Gahangir Hossain, Lifford McLauchlan, <b>Sayantan Bhattacharya</b><sup>*</sup>, Anupama Bhan, AK Dubey</span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
                <br>
            </p>
        </p>
    
        <div class="col-sm-12">
        <h3 class="content_heading"><a href="https://ieeexplore.ieee.org/document/8711616">Computer Based Automatic Detection and Classification of Osteoporosis in Bone Radiographs</a></h3>
        <p class="content">
            <p class="pubd">
                <span class="authors"><b>Sayantan Bhattacharya</b><sup>*</sup>, Devesh Nair,  Anupama Bhan, Ayush Goyal</span>
                <br><span class="authors"><sup>*</sup>equal contribution</span>
                <br>
            </p>
        </p>
    
      </div>
